* {
	margin: 0 auto;
}

body {
  background-image: url(../img/background.jpg);
}

section {
	clear: both;
	margin-top: 2%;
}

li {
	list-style-type: none;
}

table {
	margin: 0;
  font-size: 16px;
  border-collapse: collapse;
}

input {
	width: 100%;
  margin-top: 3%;
  border-radius: 5px;
}

label {
	display: inline-block;
	width: 45%;
  padding: 2%;
}

.wrapper {
	max-width: 50%;
  margin-top: 8%;
  background: rgba(31, 31, 31, 0.6);
  padding: 2%;
  color: white;
  border-radius: 20px;
  box-sizing: border-box;
}

.info img {
	float: left;
	min-height: 150px;
  max-height: 200px;
  margin-right: 2%;
}

.info table {
  min-height: 200px;
}

.table table {
	border: 1px solid;
	width: 100%;
	margin-top: 2%;
	text-align: center;
}

.table table td {
	border: 1px solid;
}

.input {
	width: 100%;
  font-size: 16px;
}

.about {
  font-size: 18px;
}

.about {
	text-align: center;
}

.about h2:hover {
	cursor: pointer;
}

.about p {
	margin-top: 2%;
}
